# Install the base requirements too
-r requirements.txt

black>=25.1.0
mypy>=1.19.1

types-bleach>=6.3.0.20251115
types-Flask-Migrate>=4.1.0.20250809
types-mysqlclient>=2.2.0.20250915
types-requests>=2.32.4.20260107
