.search-form .input-group {
    max-width: 25rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.search-form .btn {
    --bs-btn-hover-color: #ffc800;
}

.card-img-container {
    position: relative;
    padding-top: 75%;
    /* 4:3 aspect ratio (3 / 4 * 100) */
    overflow: hidden;
}

/* Can be replaced with "position-absolute top-0 start-0 w-100 h-100 object-fit-cover" after Bootstrap update */
.card-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* modifications to the Start Bootstrap - Agency theme */
@media (min-width: 768px) {
    section {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-brand img {
        height: 4rem;
    }

    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 3rem;
    }
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 15rem;
        padding-bottom: 10rem;
    }
}

header.masthead {
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-image: none;
}

#mainNav {
    background-color: #ffc800;
}

@media (min-width: 992px) {
    #mainNav {
        background-color: transparent;
    }

    #mainNav.navbar-shrink {
        background-color: #ffc800;
    }
}