{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block navbar_add_class %}masthead-no-img{% endblock %}
{% block header%}
<header class="masthead masthead-no-img">
    <div class="masthead-heading text-uppercase">Account</div>
</header>
{% endblock %}

{% block content %}
<section class="bg-secondary-subtle">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              {% if user.image %}
                  <img src="{{ url_for('static', filename='uploads/profile_images/' + user.image) }}" alt="avatar" class="rounded-circle img-fluid" style="width: 250px; height: 250px; object-fit: cover; object-position: center;">
              {% else %}
                  <img src="static/assets/img/default_avatar.png" alt="default avatar" class="rounded-circle img-fluid" style="width: 300px; height: 300px; object-fit: cover; object-position: center;">
              {% endif %}
              <h5 class="my-3">{{ user.username }}</h5>
              <p class="text-body-secondary mb-1">{{ user.description }}</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://indystry.cc</p>
                </li> -->
                {% if user.name_github %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg social-gh"></i>
                  <p class="mb-0"><a href="https://github.com/{{ user.name_github }}" target="_blank">{{user.name_github}}</a></p>
                </li>
                {% endif %}
                {% if user.name_youtube %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-youtube fa-lg social-yt"></i>
                  <p class="mb-0"><a href="https://youtube.com/@{{ user.name_youtube }}" target="_blank">{{user.name_youtube}}</a></p>
                </li>
                {% endif %}
                {% if user.name_instagram %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg social-ig"></i>
                  <p class="mb-0"><a href="https://instagram.com/{{ user.name_instagram }}" target="_blank">{{user.name_instagram}}</a></p>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-body-secondary mb-0">{{ user.username }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-body-secondary mb-0">{{ user.email }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Password</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-body-secondary mb-0"><a href ="">Click to change</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                      <p class="mb-4">Recent parts</p>
                      {% for part in recent_parts %}
                      <p class="mb-1 fs-6"><a href ="/part:{{part.id}}">{{ part.name }}</a></p>
                      <hr>
                      {% endfor %}
                  </div>
              </div>
          </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4">Your contribution</p>
                  <p class="mb-1 fs-4">Total parts: 3489</p>
                  <hr>
                  <p class="mt-4 mb-1 fs-4">Your parts: 24</p>
                  <hr>
                  <p class="mt-4 mb-1 fs-4">Your contribution: 0.68%</p>
                </div>
              </div>

              <div class="card-body text-center">
                <a href="/accountsettings">Edit profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
