{% extends "base.html" %}
{% block title %}Add Part{% endblock %}
{% block navbar_add_class %}masthead-no-img{% endblock %}
{% block header %}
<header class="masthead masthead-no-img">
    <div class="masthead-heading text-uppercase">Add Part</div>
</header>
{% endblock %}

{% block content %}
<section class="bg-secondary-subtle">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Upload Part</h5>
                        <form method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="image" class="form-label">Image</label>
                                <input type="file" class="form-control" id="image" name="image" accept="{{ image_types|join(', ') }}" required>
                                <div id="image-preview"></div>
                            </div>
                            <div class="mb-3">
                                <label for="files" class="form-label">Files</label>
                                <input type="file" class="form-control" name="files" id="file-upload" accept="{{ part_extensions|join(', ') }}" multiple required>
                                <div id="file-preview" class="mt-2">
                                    <div>
                                        <i class="fas fa-file me-2"></i>
                                        <span>No file selected</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Enter the part name" maxlength="80" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description"
                                    placeholder="Enter the part description" maxlength="500" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="category" class="form-label">Category</label>
                                <select class="form-select" id="category" name="category" required>
                                    {% for category in categories %}
                                        <optgroup label="{{category.name}}">
                                            {% for subcategory in category.subcategories %}
                                            <option value="{{subcategory.id}}">{{subcategory.name}}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="tags" class="form-label">Tags</label>
                                <input type="text" class="form-control" id="tags" name="tags"
                                    placeholder="Enter tags separated by commas" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                        <div class="mt-4 small">
                            <p class="small">By uploading your parts to OpenRoboticPlatform, you are joining a community dedicated to open collaboration in robotics. To foster seamless collaboration and knowledge sharing, all parts uploaded to OpenRoboticPlatform are released under the MIT license.</p>
                            <p class="small">With the MIT license, you retain ownership of your parts while allowing others to build upon your work, whether for personal, educational, or commercial purposes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/parent-in-select.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/image-preview.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/file-preview.js') }}" type="module"></script>
{% endblock %}
