{% extends "base.html" %}
{% block title %}Add Part{% endblock %}
{% block header %}
<header class="masthead" style="background-color: #ffc800; padding-bottom: 0.5em; padding-top: 6em">
    <div class="masthead-heading text-uppercase">Add Part</div>
</header>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Upload Part</h5>
                        <form method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="image" class="form-label">Image</label>
                                <input type="file" class="form-control" id="image" name="image" accept="image/*" required onchange="displayImage(event)">
                                <div id="image-preview"></div>
                            </div>
                            <div class="mb-3">
                                <label for="files" class="form-label">Files</label>
                                <input type="file" class="form-control" name="files" id="file-upload" accept=".3mf, .stl, .step" multiple required>
                                <div id="file-preview" class="mt-2">
                                    <div class="file-preview-item">
                                        <div class="file-preview-icon"><i class="fas fa-file"></i></div>
                                        <div class="file-preview-name">No file selected</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Enter the part name" maxlength="80" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description"
                                    placeholder="Enter the part description" maxlength="500" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="category" class="form-label">Category</label>
                                <select class="form-select" id="category" name="category" required>
                                    <option value="">Select a category</option>
                                    <option value="1">Plates</option>
                                    <option value="2">Wheels</option>
                                    <option value="3">Other</option>
                                    <option value="4">Holders & Adapters for: Sensors</option>
                                    <option value="5">Holders & Adapters for: Microcontrollers & SBCs</option>
                                    <option value="6">Holders & Adapters for: Motors</option>
                                    <option value="7">Holders & Adapters for: Cameras</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="tags" class="form-label">Tags</label>
                                <input type="text" class="form-control" id="tags" name="tags"
                                    placeholder="Enter tags separated by commas" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Image preview functionality
    function displayImage(event) {
        const imagePreview = document.getElementById('image-preview');
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const imageElement = document.createElement('img');
                imageElement.src = e.target.result;
                imageElement.className = 'uploaded-image';
                imageElement.style.maxWidth = '200px';
                imageElement.style.height = 'auto';
                imageElement.style.border = '1px solid #ddd';
                imageElement.style.borderRadius = '5px';
                imageElement.style.marginTop = '10px';

                // Replace existing image if present
                while (imagePreview.firstChild) {
                    imagePreview.firstChild.remove();
                }

                imagePreview.appendChild(imageElement);
            }

            reader.readAsDataURL(file);
        }
    }

    // File preview functionality
    const fileInput = document.getElementById('file-upload');
    const filePreview = document.getElementById('file-preview');

    fileInput.addEventListener('change', handleFilePreview);

    function handleFilePreview() {
        filePreview.innerHTML = '';

        for (const file of fileInput.files) {
            const fileItem = document.createElement('div');
            fileItem.classList.add('file-preview-item');

            const fileIcon = document.createElement('div');
            fileIcon.classList.add('file-preview-icon');
            fileIcon.innerHTML = '<i class="fas fa-file"></i>';

            const fileName = document.createElement('div');
            fileName.classList.add('file-preview-name');
            fileName.textContent = file.name;

            fileItem.appendChild(fileIcon);
            fileItem.appendChild(fileName);
            filePreview.appendChild(fileItem);
        }

        if (fileInput.files.length === 0) {
            const noFileItem = document.createElement('div');
            noFileItem.classList.add('file-preview-item');
            noFileItem.innerHTML = '<div class="file-preview-icon"><i class="fas fa-file"></i></div><div class="file-preview-name">No file selected</div>';

            filePreview.appendChild(noFileItem);
        }
    }
</script>
{% endblock %}
