{% extends "base.html" %}
{% block title %}Design rules{% endblock %}
{% block header %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='/assets/img/design_rules_bg.png') }})">
    <div class="container">
        <div class="masthead-heading text-uppercase">Design rules</div>
    </div>
</header>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <article class="fp-article">
                    <h1 class="visually-hidden">Design rules</h1>
                    <section>
                        <h2>Basic rules</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum sodales nisi molestie faucibus. Donec ipsum sem, iaculis ac ultricies in, pretium id magna. Donec convallis nisi dapibus, tempus quam vel, maximus mauris. Nam laoreet magna id euismod pretium. Cras accumsan ipsum magna, eget efficitur urna porttitor vitae. Integer sollicitudin scelerisque tempor. Pellentesque iaculis ullamcorper fringilla. Suspendisse felis augue, lobortis vel condimentum nec, imperdiet eu nibh. Suspendisse vehicula nulla sed suscipit efficitur. Proin molestie nibh non nunc vestibulum, eget sollicitudin eros eleifend. Phasellus viverra mauris eu ex consequat porttitor. Quisque auctor lacus non tristique rutrum. Pellentesque non nisi a eros tristique tempor in at sapien. Donec dolor neque, vestibulum eget ultricies id, volutpat non arcu. Maecenas egestas metus nulla, vitae condimentum dui fermentum non.
                        </p>
                        <p>
                            Aenean commodo mi sit amet ornare ullamcorper. Suspendisse fringilla vehicula magna at rutrum. Vestibulum tincidunt ultrices dolor sit amet congue. Sed a egestas nulla, et interdum erat. Praesent vestibulum dui metus, sit amet tincidunt sapien vestibulum quis. Sed aliquet nec eros sit amet vehicula. Cras at imperdiet lacus, quis efficitur lacus. Proin eleifend massa eu malesuada posuere. Phasellus pharetra est id sem rutrum, non pretium nisi consectetur. Phasellus in sem leo. In non velit pharetra, scelerisque.
                        </p>
                        <img src="static/assets/img/designrules1.png" alt="Image 1" class="img-fluid my-4" />
                    </section>
                    <section>
                        <h2>Plate design</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum sodales nisi molestie faucibus. Donec ipsum sem, iaculis ac ultricies in, pretium id magna. Donec convallis nisi dapibus, tempus quam vel, maximus mauris. Nam laoreet magna id euismod pretium. Cras accumsan ipsum magna, eget efficitur urna porttitor vitae. Integer sollicitudin scelerisque tempor. Pellentesque iaculis ullamcorper fringilla. Suspendisse felis augue, lobortis vel condimentum nec, imperdiet eu nibh. Suspendisse vehicula nulla sed suscipit efficitur. Proin molestie nibh non nunc vestibulum, eget sollicitudin eros eleifend. Phasellus viverra mauris eu ex consequat porttitor. Quisque auctor lacus non tristique rutrum.
                        </p>
                        <p>
                            Aenean commodo mi sit amet ornare ullamcorper. Suspendisse fringilla vehicula magna at rutrum. Vestibulum tincidunt ultrices dolor sit amet congue. Sed a egestas nulla, et interdum erat. Praesent vestibulum dui metus, sit amet tincidunt sapien vestibulum quis. Sed aliquet nec eros sit amet vehicula. Cras at imperdiet lacus, quis efficitur lacus. Proin eleifend massa eu malesuada posuere. Phasellus pharetra est id sem rutrum, non pretium nisi consectetur. Phasellus in sem leo. In non velit pharetra, scelerisque.
                        </p>
                        <img src="static/assets/img/designrules1.png" alt="Image 2" class="img-fluid my-4" />
                    </section>
                    <section>
                        <h2>Motor holders design</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum sodales nisi molestie faucibus. Donec ipsum sem, iaculis ac ultricies in, pretium id magna. Donec convallis nisi dapibus, tempus quam vel, maximus mauris. Nam laoreet magna id euismod pretium. Cras accumsan ipsum magna, eget efficitur urna porttitor vitae. Integer sollicitudin scelerisque tempor. Pellentesque iaculis ullamcorper fringilla. Suspendisse felis augue, lobortis vel condimentum nec, imperdiet eu nibh. Suspendisse vehicula nulla sed suscipit efficitur. Proin molestie nibh non nunc vestibulum, eget sollicitudin eros eleifend. Phasellus viverra mauris eu ex consequat porttitor. Quisque auctor lacus non tristique rutrum. Pellentesque non nisi a eros tristique tempor in at sapien. Donec dolor neque, vestibulum eget ultricies id, volutpat non arcu. Maecenas egestas metus nulla, vitae condimentum dui fermentum non.
                        </p>
                        <p>
                            Aenean commodo mi sit amet ornare ullamcorper. Suspendisse fringilla vehicula magna at rutrum. Vestibulum tincidunt ultrices dolor sit amet congue.
                        </p>
                        <img src="static/assets/img/designrules1.png" alt="Image 3" class="img-fluid my-4" />
                    </section>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- ... -->
