{% extends "base.html" %}
{% block title %}ORP - reset password{% endblock %}
{% block header%}
<div class="bg-img-login">
  <div class="container py-6">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Reset password</h5>
            <form method="POST" class="needs-validation" id="resetPass" novalidate>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" autocomplete="email" maxlength="100" required>
                <label for="emailInput">Email address</label>
                <div class="invalid-feedback" id="emailError">Please enter a valid email address.</div>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-action="forgot_password" data-form="resetPass">Reset password</button>
              </div>
              <div class="mt-2">
                <a href="/login">🠔 Return to login page</a>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}" async defer nonce="{{ csp_nonce() }}"></script>
<script src="{{ url_for('static', filename='js/captcha-form.js') }}" type="module" nonce="{{ csp_nonce() }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-form-validation.js') }}" type="module" nonce="{{ csp_nonce() }}"></script>
{% endblock %}
