{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header%}
<header class="masthead bg-img-home">
    <div class="container">
        <div class="masthead-subheading">Open Robotic Platform</div>
        <div class="masthead-heading text-uppercase">Robotics made easy with simple design rules</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="/designrules">Learn More</a>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="mb-5">
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col-md-4">
                <h3 class="mt-4 mb-3">Total Users</h3>
                <p class="display-1 fw-bold text-primary" id="total-users">{{stats.total_users}}</p>
            </div>
            <div class="col-md-4">
                <h3 class="mt-4 mb-3">Total Parts</h3>
                <p class="display-1 fw-bold text-primary" id="total-parts">{{stats.total_parts}}</p>
            </div>
            <div class="col-md-4">
                <h3 class="mt-4 mb-3">Total Views</h3>
                <p class="display-1 fw-bold text-primary" id="total-parts">{{stats.total_views}}</p>
            </div>
        </div>
    </div>

</section>
<section class="page-section bg-light" id="about">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <picture>
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle1.avif') }}" type="image/avif">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle1.webp') }}" type="image/webp">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle1.jxl') }}" type="image/jxl">
                        <img src="{{ url_for('static', filename='assets/img/opt/circle1.png') }}" alt="..." class="img-fluid h-100">
                    </picture>
                </span>
                <h4 class="my-3">Hole pattern</h4>
                <p class="text-body-secondary">Holes are distributed every 20mm in each direction. No more random, useless holes on your robot.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <picture>
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle2.avif') }}" type="image/avif">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle2.webp') }}" type="image/webp">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle2.jxl') }}" type="image/jxl">
                        <img src="{{ url_for('static', filename='assets/img/opt/circle2.png') }}" alt="..." class="img-fluid h-100">
                    </picture>
                </span>
                <h4 class="my-3">Materials</h4>
                <p class="text-body-secondary">Plates can be 3D printed, CNC machined or laser cut. You can choose the material you want to use.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <picture>
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle3.avif') }}" type="image/avif">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle3.webp') }}" type="image/webp">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/circle3.jxl') }}" type="image/jxl">
                        <img src="{{ url_for('static', filename='assets/img/opt/circle3.png') }}" alt="..." class="img-fluid h-100">
                    </picture>
                </span>
                <h4 class="my-3">Design and reusability</h4>
                <p class="text-body-secondary">The hole pattern makes it easy to design holders and modules for your robot. You can also reuse those that you already have.</p>
            </div>
        </div>
    </div>
</section>
<!-- Kickstarter Section -->
<section class="page-section" id="youtube">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Video about the project</h2>
        </div>

        <div class="yt_video_container">
            <iframe src="https://www.youtube.com/embed/_JQTvw4T160?si=eiHJtXRhaJiP43Ev" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
</section>
<!-- Projects Section -->
<section class="page-section" id="projects">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Featured Projects</h2>
            <h3 class="section-subheading text-body-secondary">Explore some of the amazing projects built with Open Robotic Platform</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card project-card">
                    <picture>
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot4.avif') }}" type="image/avif">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot4.webp') }}" type="image/webp">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot4.jxl') }}" type="image/jxl">
                        <img  class="card-img-top" src="{{ url_for('static', filename='assets/img/robot4.JPG') }}" alt="Machine learning robot with LIDAR">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Arduino, LIDAR, machine learning</h5>
                        <p class="card-text">Running simple classifiers on Arduino UNO R4 with LIDAR data and ORP chassis.</p>
                        <a href="https://www.youtube.com/watch?v=PdSDhdciSpE" target="_blank" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card project-card">
                    <picture>
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot1.avif') }}" type="image/avif">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot1.webp') }}" type="image/webp">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot1.jxl') }}" type="image/jxl">
                        <img  class="card-img-top" src="{{ url_for('static', filename='assets/img/robot1.JPG') }}" alt="Pico Mars Rover">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Pico Mars Rover</h5>
                        <p class="card-text">An educational platform designed to inspire young minds in robotics and space exploration.</p>
                        <a href="https://youtu.be/OB4AxmelKik" target="_blank" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card project-card">
                    <picture>
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot2.avif') }}" type="image/avif">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot2.webp') }}" type="image/webp">
                        <source srcset="{{ url_for('static', filename='assets/img/opt/robot2.jxl') }}" type="image/jxl">
                        <img  class="card-img-top" src="{{ url_for('static', filename='assets/img/robot2.JPG') }}" alt="Arduino LIDAR Robot">
                    </picture>
                    <div class="card-body">
                        <h5 class="card-title">Arduino LIDAR Robot</h5>
                        <p class="card-text">A research platform powered by CubeMars motors, enabling precise mapping and navigation using LIDAR technology.</p>
                        <a href="https://www.youtube.com/watch?v=xSrjtJ2AZqw" target="_blank" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Newest Parts Section -->
<section class="page-section" id="newest-parts">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Newest Parts</h2>
            <h3 class="section-subheading text-body-secondary">Check out the newest parts uploaded by users</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
            {% for part in parts %}
            <div class="col">
                <a href ="/part:{{part.id}}" class="text-decoration-none">
                <div class="card">
                    <div class="card-img-container">
                        <picture>
                            {% for thumbnail, mime in part.thumbnail.optimized %}
                            <source srcset="{{ url_for('static', filename='uploads/images/thumbs/' + thumbnail) }}" type="{{ mime }}">
                            {% endfor %}
                            <img  class="card-img-top" src="{{ url_for('static', filename='uploads/images/thumbs/' + part.thumbnail.fallback) }}" alt="Part Image" loading="lazy">
                        </picture>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ part.name }}</h5>
                        <!-- <a href="#" class="btn btn-primary w-100">View Details</a> -->
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}