{% extends "base.html" %}
{% block title %}Library{% endblock %}
{% block header%}
<header class="masthead" style="background-image: url({{ url_for('static', filename='/assets/img/library-bg3.png') }})">
    <div class="container">
        <div class="masthead-heading text-uppercase">Library</div>
        <form class="search-form mt-3" method="GET">
            <div class="input-group">
                <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ request.args.get('search', '') }}">
                <button class="btn btn-light" type="submit" data-toggle="popover" title="Search Functionality" data-content="Enter keywords to search for specific parts"><i class="fas fa-search"></i></button>
                <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#infoModal"><i class="fas fa-question-circle"></i></button>
            </div>
        </form>
    </div>
</header>

<!-- Info Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">How to Use the Search Functionality</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Parts are stored in the database with the name of the part, description, and tags. Tags are the most important, so if you want to look for plates of a specific dimension, it's best to type "plate 300" which will show you all the plates of dimension 300mm or related parts.
                </p>
                <p>
                    Search also looks at the description of the part and tries to find the parts where provided keywords match.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<section class="mt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            {% for part in parts.items %}
            <div class="col">
                <a href="/part:{{part.id}}" class="text-decoration-none">
                <div class="card">
                    <div class="card-img-container">
                       <img src="{{ url_for('static', filename='uploads/images/' + part.image) }}" alt="Part Image" class="card-img-top aspect-ratio-4x3" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ part.name }}</h5>
                        <!-- Additional details and buttons for each part -->
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation" style="margin-top: 2em;">
            <ul class="pagination justify-content-center">
                {% if parts.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('views.library', page=parts.prev_num) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for num in parts.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                {% if num %}
                <li class="page-item {% if num == parts.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('views.library', page=num) }}">{{ num }}</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
                {% endif %}
                {% endfor %}

                {% if parts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('views.library', page=parts.next_num) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
