{% extends "base.html" %}
{% block title %}ORP - login{% endblock %}
{% block header%}
<div style="background-image: url({{ url_for('static', filename='/assets/img/login_page_bg.png') }});">
  <div class="container" style="padding-top: 5em; padding-bottom: 5em">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Log in</h5>
            <form method="POST" onsubmit="return validateForm()">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com">
                <label for="emailInput">Email address</label>
                <div class="invalid-feedback" id="emailError">Please enter a valid email address.</div>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
                <label for="passwordInput">Password</label>
                <div class="invalid-feedback" id="passwordError">Please enter a password.</div>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" name="rememberPassword">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember password
                </label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Log in</button>
              </div>
              <hr class="my-4">
            </form>
            <div class="text-center" style="padding-top:1em">
              Don't have an account? <a href="/signup">Sign up!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validateForm() {
    let emailInput = document.getElementById('emailInput');
    let passwordInput = document.getElementById('passwordInput');
    let emailError = document.getElementById('emailError');
    let passwordError = document.getElementById('passwordError');

    let valid = true;

    if (!emailInput.value.match(/^\S+@\S+\.\S+$/)) {
      emailInput.classList.add('is-invalid');
      emailError.style.display = 'block';
      valid = false;
    } else {
      emailInput.classList.remove('is-invalid');
      emailError.style.display = 'none';
    }

    if (!passwordInput.value) {
      passwordInput.classList.add('is-invalid');
      passwordError.style.display = 'block';
      valid = false;
    } else {
      passwordInput.classList.remove('is-invalid');
      passwordError.style.display = 'none';
    }

    return valid;
  }
</script>
{% endblock %}

{% block content %}


{%endblock%}