{% extends "base.html" %}
{% block title %}Part{% endblock %}
{% block header %}
<header class="masthead" style="background-color: #ffc800; padding-bottom: 0.5em; padding-top: 6em">
    <div class="masthead-heading text-uppercase">Part</div>
</header>
{% endblock %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                      <img src="{{ url_for('static', filename='uploads/images/' + part.image) }}" alt="part image" class="img-fluid">
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Category
                                <p class="mb-0">{{ part.category }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Verified
                                <p class="mb-0">{{ part.verified }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Views
                                <p class="mb-0">{{ part.views }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Downloads
                                <p class="mb-0">{{ part.downloads }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Tags
                                <p class="mb-0">{{ part.tags }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h4>{{ part.name }}</h4>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <h5>Description</h5>
                            <p>{{ part.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="mb-4"><b>Files</b></p>
                        {% for file in files_list2 %}
                            <div class="d-flex justify-content-between align-items-center mb-1" style="font-size: 1rem;">
                                <p class="mb-0">{{ file.file_name }}</p>
                                <a href="{{ url_for('static', filename='uploads/files/' + file.file_name) }}" class="btn btn-warning btn-sm">Download</a>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}