{% extends "base.html" %}
{% block title %}Part{% endblock %}
{% block header %}
<header class="masthead" style="background-color: #ffc800; padding-bottom: 0.5em; padding-top: 6em">
    <div class="masthead-heading text-uppercase">Part</div>
</header>
{% endblock %}
{% block content %}
<section class="bg-secondary-subtle">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <h3 class="m-3 mb-1">{{ part.name }}</h3>
                    <div class="card-body text-center">
                      <img src="{{ url_for('static', filename='uploads/images/' + part.image) }}" alt="part image" class="img-fluid">
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Category
                                <p class="mb-0">{{ part.category }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Verified
                                <p class="mb-0">{{ 'Yes' if part.verified else 'No'}}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                Tags
                                <p class="mb-0">{{ part.tags }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <h5>Description</h5>
                            <p>{{ part.description }}</p>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5>Files</h5>
                        {% for file in files_list %}
                            <div class="d-flex justify-content-between align-items-center mb-1" style="font-size: 1rem;">
                                <p class="mb-0">{{ file.file_name }}</p>
                                <a href="{{ url_for('static', filename='uploads/files/' + file.file_name) }}" class="btn btn-warning btn-sm">Download</a>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-6">
                                <h5 class="mb-4">Author: <a href ="{{ url_for('views.userView', user_name=author.username) }}">{{ author.username }}</a></h5>
                                {% if author.image %}
                                    <img src="{{ url_for('static', filename='uploads/profile_images/' + author.image) }}" alt="avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px; object-fit: cover; object-position: center;">
                                {% else %}
                                    <img src="static/assets/img/default_avatar.png" alt="default avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px; object-fit: cover; object-position: center;">
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {% if author.name_github %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                        <p class="mb-0"><a href="https://github.com/{{ author.name_github }}" target="_blank">{{author.name_github}}</a></p>
                                    </li>
                                {% endif %}
                                {% if author.name_youtube %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-youtube fa-lg" style="color: #e22323;"></i>
                                        <p class="mb-0"><a href="https://youtube.com/@{{ author.name_youtube }}" target="_blank">{{author.name_youtube}}</a></p>
                                    </li>
                                {% endif %}
                                {% if author.name_instagram %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0"><a href="https://instagram.com/{{ author.name_instagram }}" target="_blank">{{author.name_instagram}}</a></p>
                                    </li>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}