{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block header%}
<div class="bg-img-login">
  <div class="container py-6">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Reset password</h5>
            <p>Enter a new password for {{ mail_addr }}</p>
            <form method="POST" id="newPasswordForm" class="needs-validation" novalidate>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="new-password" name="password" placeholder="Password" autocomplete="new-password" aria-describedby="passwordHelp" minlength="8" maxlength="128" required>
                <label for="new-password">New password</label>
                <div id="passwordHelp" class="form-text">Password must be between 8 and 128 characters long.</div>
                <div class="invalid-feedback">Password does not meet requirements</div>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-action="reset_password" data-form="newPasswordForm">Sign up</button>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}" async defer nonce="{{ csp_nonce() }}"></script>
<script src="{{ url_for('static', filename='js/captcha-form.js') }}" type="module" nonce="{{ csp_nonce() }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-form-validation.js') }}" type="module" nonce="{{ csp_nonce() }}"></script>
{% endblock %}
