{% extends "base.html" %}
{% block title %}ORP - login{% endblock %}
{% block header%}
<div style="background-image: url({{ url_for('static', filename='/assets/img/library-bg.jpg') }});">
  <div class="container" style="padding-top: 5em; padding-bottom: 5em">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>
            <form method="POST" id="signup_form">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" name="username" placeholder="User name">
                <label for="floatingInput">User name</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback='onSubmit' data-action="submit">Sign up</button>
              </div>
              <hr class="my-4">
            </form>
            <div class="text-center" style="padding-top:1em">
                Already have an account? <a href="/login">Log in!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function onSubmit(token) {
    document.getElementById("signup_form").submit();
  }
</script>
{% endblock %}

{% block content %}


{%endblock%}