{% extends "base.html" %}
{% block title %}{{ display_user.username }}{% endblock %}
{% block navbar_add_class %}masthead-no-img{% endblock %}
{% block header%}
<header class="masthead masthead-no-img">
    <div class="masthead-heading text-uppercase">{{ display_user.username }}</div>
</header>
{% endblock %}

{% block content %}
<section class="bg-secondary-subtle">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              {% if display_user.image %}
                  <img src="{{ url_for('static', filename='uploads/profile_images/' + display_user.image) }}" alt="avatar" class="profile-img">
              {% else %}
                <picture>
                  <source srcset="{{ url_for('static', filename='assets/img/opt/default_avatar.avif') }}" type="image/avif">
                  <source srcset="{{ url_for('static', filename='assets/img/opt/default_avatar.webp') }}" type="image/webp">
                  <source srcset="{{ url_for('static', filename='assets/img/opt/default_avatar.jxl') }}" type="image/jxl">
                  <img src="{{ url_for('static', filename='assets/img/opt/default_avatar.png') }}" alt="default avatar" class="profile-img">
                </picture>
              {% endif %}
              <h5 class="my-3">{{ display_user.username }}</h5>
              <p class="text-body-secondary mb-1">{{ display_user.description if display_user.description else "" }}</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                {% if display_user.name_github %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fa-brands fa-github fa-lg social-gh me-2"></i>
                  <p class="mb-0 overflow-x-auto"><a href="https://github.com/{{ display_user.name_github }}" target="_blank">{{display_user.name_github}}</a></p>
                </li>
                {% endif %}
                {% if display_user.name_youtube %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fa-brands fa-youtube fa-lg social-yt me-2"></i>
                  <p class="mb-0 overflow-x-auto"><a href="https://youtube.com/@{{ display_user.name_youtube }}" target="_blank">{{display_user.name_youtube}}</a></p>
                </li>
                {% endif %}
                {% if display_user.name_instagram %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fa-brands fa-instagram fa-lg social-ig me-2"></i>
                  <p class="mb-0 overflow-x-auto"><a href="https://instagram.com/{{ display_user.name_instagram }}" target="_blank">{{display_user.name_instagram}}</a></p>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                      <p class="mb-4">Recent parts</p>
                      {% for part in recent_parts %}
                      <p class="mb-1 fs-6"><a href ="/part:{{part.id}}">{{ part.name }}</a></p>
                      <hr>
                      {% endfor %}
                  </div>
              </div>
          </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4">{{display_user.username}}'s contribution</p>
                  <p class="mb-1 text-body-secondary">Total parts: {{total_parts}}</p>
                  <hr>
                  <p class="mt-2 mb-2 text-body-secondary">{{display_user.username}}'s parts: {{user_parts}}</p>
                  <hr>
                  <p class="mt-2 mb-2 text-body-secondary">{{display_user.username}}'s contribution: {{user_contribution}}%</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
